/****** Developed by: Fernando Calmet Ramirez <fercalmet@gmail.com> ******/
USE [cs-aspnet-mvc-crud]
-- Truncate Data
EXEC sp_MSForEachTable 'ALTER TABLE ? NOCHECK CONSTRAINT ALL'
EXEC sp_MSForEachTable 'DELETE FROM ?'
EXEC sp_MSForEachTable 'ALTER TABLE ? CHECK CONSTRAINT ALL'
DBCC CHECKIDENT ('module_category', RESEED, 0);
DBCC CHECKIDENT ('module', RESEED, 0);
DBCC CHECKIDENT ('user_action', RESEED, 0);
DBCC CHECKIDENT ('note', RESEED, 0);
DBCC CHECKIDENT ('task_note', RESEED, 0);
DBCC CHECKIDENT ('task', RESEED, 0);
DBCC CHECKIDENT ('user_position', RESEED, 0);
DBCC CHECKIDENT ('user_permission', RESEED, 0);
DBCC CHECKIDENT ('user', RESEED, 0);
GO

-- Insert data in table: Modules Categories
INSERT INTO [dbo].[module_category] (name, description) VALUES ('Security', 'Main module of the system that manages user information and the scope of their actions.');
INSERT INTO [dbo].[module_category] (name, description) VALUES ('General', 'Secondary module of the system that manages general information.');
INSERT INTO [dbo].[module_category] (name, description) VALUES ('Setting', 'This system module manages the application settings.');

-- Insert data in table: Modules
---- Security Modules:
INSERT INTO [dbo].[module] (name, module_category_id) VALUES ('Modules Categories', 1);
INSERT INTO [dbo].[module] (name, module_category_id) VALUES ('Modules', 1);
INSERT INTO [dbo].[module] (name, module_category_id) VALUES ('Users Positions', 1);
---- General Modules:

-- Insert data in table: Users Positions
INSERT INTO [dbo].[user_position] (name) VALUES ('Administrator');
INSERT INTO [dbo].[user_position] (name) VALUES ('Customer');

-- Insert data in table: Users Actions
---- Actions of Modules Categories
INSERT INTO [dbo].[user_action] (name, module_id) VALUES ('View All Modules Categories', 1);
INSERT INTO [dbo].[user_action] (name, module_id) VALUES ('View Module Category', 1);
INSERT INTO [dbo].[user_action] (name, module_id) VALUES ('Create Module', 1);
---- Actions of Modules
---- Actions of Users Positions
---- Actions of Users Actions
---- Actions of Users Permissions
---- Actions of Users
---- Actions of Tasks
---- Actions of Notes
---- Actions of Tasks Notes

-- Insert data in table: Users Permissions
---- Permissions for Administrators
INSERT INTO [dbo].[user_permission] (user_position_id, user_action_id) VALUES (1, 1);
INSERT INTO [dbo].[user_permission] (user_position_id, user_action_id) VALUES (1, 2);
INSERT INTO [dbo].[user_permission] (user_position_id, user_action_id) VALUES (1, 3);
---- Permissions for Customers

-- Insert data in table: Users
INSERT INTO [dbo].[user] (username, password, first_name, last_name, email, picture, birthdate, created_at, user_position_id) VALUES ('admin','admin','Fernando','Calmet','fercalmet@gmail.com',null, '01-01-1989', getdate(), 1);